body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
.login{
    background-color: rgba(34, 21, 21, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #8e8e8e;
}
input{
    padding: 15px;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #D3D3D3;
    border-radius: 10px;
}
button{
    color: black ; 
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}
button:hover{
    color:#8996a6;
}